# Task 1

#1

In [17]:
print("my name is jp")

my name is jp

#2

In [18]:
m=[]
i=2000
while(i<=3200):
    if(i%5==0 and i%7!=0):
        m.append(i)
    i=i+1
m

[2000,
 2005,
 2010,
 2015,
 2020,
 2025,
 2035,
 2040,
 2045,
 2050,
 2055,
 2060,
 2070,
 2075,
 2080,
 2085,
 2090,
 2095,
 2105,
 2110,
 2115,
 2120,
 2125,
 2130,
 2140,
 2145,
 2150,
 2155,
 2160,
 2165,
 2175,
 2180,
 2185,
 2190,
 2195,
 2200,
 2210,
 2215,
 2220,
 2225,
 2230,
 2235,
 2245,
 2250,
 2255,
 2260,
 2265,
 2270,
 2280,
 2285,
 2290,
 2295,
 2300,
 2305,
 2315,
 2320,
 2325,
 2330,
 2335,
 2340,
 2350,
 2355,
 2360,
 2365,
 2370,
 2375,
 2385,
 2390,
 2395,
 2400,
 2405,
 2410,
 2420,
 2425,
 2430,
 2435,
 2440,
 2445,
 2455,
 2460,
 2465,
 2470,
 2475,
 2480,
 2490,
 2495,
 2500,
 2505,
 2510,
 2515,
 2525,
 2530,
 2535,
 2540,
 2545,
 2550,
 2560,
 2565,
 2570,
 2575,
 2580,
 2585,
 2595,
 2600,
 2605,
 2610,
 2615,
 2620,
 2630,
 2635,
 2640,
 2645,
 2650,
 2655,
 2665,
 2670,
 2675,
 2680,
 2685,
 2690,
 2700,
 2705,
 2710,
 2715,
 2720,
 2725,
 2735,
 2740,
 2745,
 2750,
 2755,
 2760,
 2770,
 2775,
 2780,
 2785,
 2790,
 2795,
 2805,
 2810,
 2815,
 2820,
 2825,
 2830,
 2840,
 2845,
 2850,
 2855,
 2860,
 2865,
 2875,
 2880,
 2885,
 2890,
 2895,
 2900,
 2910,
 2915,
 2920,
 2925,
 2930,
 2935,
 2945,
 2950,
 2955,
 2960,
 2965,
 2970,
 2980,
 2985,
 2990,
 2995,
 3000,
 3005,
 3015,
 3020,
 3025,
 3030,
 3035,
 3040,
 3050,
 3055,
 3060,
 3065,
 3070,
 3075,
 3085,
 3090,
 3095,
 3100,
 3105,
 3110,
 3120,
 3125,
 3130,
 3135,
 3140,
 3145,
 3155,
 3160,
 3165,
 3170,
 3175,
 3180,
 3190,
 3195,
 3200]

#3

In [27]:
first=input("enter you first name ")
second=input("enter your second name")
print("{} {}".format(first[::-1],second[::-1]))

enter you first name jaya
enter your second namemishra
 ayaj arhsim

In [2]:
name

['Jaya', 'Mishra']

#4

In [6]:
r=12
v=(4/3)*3.141*r**3
print("the volume of sphere is {}".format(v))

the volume of sphere is 7236.864

# Task 2

In [9]:
values=input("enter some comma separated number :")
list=values.split(",")
list

enter some comma separated number :2,3,4,5,6,3,5,6

['2', '3', '4', '5', '6', '3', '5', '6']

In [10]:
rows=int(input("enter number of rows"))
for i in range(0,rows):
    for j in range (0,i+1):
        print("*",end=' ')
    print("\r")
for i in range(rows,0,-1):
    for j in range (i,0,-1):
        print("* ", end='')
    print("\r")

enter number of rows5
*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

#3

In [12]:
name=input("enter yor name")
reverse=name[::-1]
reverse

enter yor namejaya

'ayaj'

#4

In [16]:
print("WE, THE PEOPLE OF INDIA,\n\t having solemnly resolved to constitute India into a SOVEREIGN,!\n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,!
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens